@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url('fonts/RobotoCondensed-Light.woff2') format('woff2'), url('fonts/RobotoCondensed-Light.woff') format('woff')
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url('fonts/RobotoCondensed-Regular.woff2') format('woff2'), url('fonts/RobotoCondensed-Regular.woff') format('woff')
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url('fonts/RobotoCondensed-Bold.woff2') format('woff2'), url('fonts/RobotoCondensed-Bold.woff') format('woff')
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url('fonts/RobotoCondensed-LightItalic.woff2') format('woff2'), url('fonts/RobotoCondensed-LightItalic.woff') format('woff')
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url('fonts/RobotoCondensed-Italic.woff2') format('woff2'), url('fonts/RobotoCondensed-Italic.woff') format('woff')
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url('fonts/RobotoCondensed-BoldItalic.woff2') format('woff2'), url('fonts/RobotoCondensed-BoldItalic.woff') format('woff')
}

@font-face {
    font-family: 'Noticia Text';
    font-weight: normal;
    src: local('Noticia Text'), local('NoticiaText-Regular'), url('fonts/NoticiaText-Normal.woff') format('woff')
}

@font-face {
    font-family: 'Noticia Text';
    font-weight: bold;
    src: local('Noticia Text Bold'), local('NoticiaText-Bold'), url('fonts/NoticiaText-Bold.woff') format('woff')
}

@font-face {
    font-family: 'Noticia Text';
    font-style: italic;
    font-weight: 400;
    src: local('Noticia Text Italic'), local('NoticiaText-Italic'), url('fonts/NoticiaText-Italic.woff') format('woff')
}

@font-face {
    font-family: 'Noticia Text';
    font-style: italic;
    font-weight: 700;
    src: local('Noticia Text Bold Italic'), local('NoticiaText-BoldItalic'), url('fonts/NoticiaText-BoldItalic.woff') format('woff')
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('fonts/Roboto-Regular.woff2') format('woff2'), url('fonts/Roboto-Regular.woff') format('woff')
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url('fonts/Roboto-Medium.woff2') format('woff2'), url('fonts/Roboto-Medium.woff') format('woff')
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url('fonts/Roboto-Bold.woff2') format('woff2'), url('fonts/Roboto-Bold.woff') format('woff')
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url('fonts/Roboto-Italic.woff2') format('woff2'), url('fonts/Roboto-Italic.woff') format('woff')
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('fonts/Roboto-MediumItalic.woff2') format('woff2'), url('fonts/Roboto-MediumItalic.woff') format('woff')
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('fonts/Roboto-BoldItalic.woff2') format('woff2'), url('fonts/Roboto-BoldItalic.woff') format('woff')
}

.box-mequ a {
    display: inline-block !important;
    margin-right: 20px;
}

.video-play {
    height: 220px;
}

.title-video-active {
    /*color: #0788d9;*/
    font-weight: bold;
}

.more-video {
    margin-bottom: 10px;
}

.more-video h3 {
    line-height: 26px;
    background: #efefef none repeat scroll 0 0;
    border: solid 1px #fff;
}

.td-document-detail {
    width: 150px;
    background: #e1f8ff;
}

#csdl_lylichhoivien_ngaysinh_month, #csdl_lylichhoivien_ngaysinh_day, #csdl_lylichhoivien_ngaysinh_year {
    padding: 5px 10px;
    width: 111px;
}

.commentTitle {
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    margin-top: 25px;
    padding-bottom: 10px;
    width: 630px;

}

.commentTitle h3 {
    font-weight: bold;
}

.comment-form {
    margin: 0 auto 30px;
    overflow: hidden;
    width: 600px
}

.comment-form .box-btn {
    float: left;
    margin-left: 120px;
}

.comment-form .in-txt {
    border: 1px solid #d7d7d7;
    padding: 5px 10px;
    width: 350px !important;
}

div.atc .cover {
    height: 110px;
    margin-bottom: 8px;
    width: 100%;
}

div.atc .cover {
    background-position: 50% top;
    background-repeat: no-repeat;
    background-size: cover !important;
    cursor: pointer;
    float: left;
    overflow: hidden;
}

.cover {
    background-position: 50% top;
    background-repeat: no-repeat;
    background-size: cover !important;
    cursor: pointer;
    float: left;
    height: 66px;
    margin-right: 8px;
    overflow: hidden;
    width: 100px;
}

div.atc div.hed h1 {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}

div.atc {
    margin-right: 1%;
    width: 24%;
    margin-bottom: 15px;
    margin-top: 10px;
}

div.atc {
    color: #000;
    float: left;
    position: relative;
    z-index: 1;
}

div.atc, .aside, details, figcaption, figure, div.footer, div.hed, .hgroup, menu, div.nav {
    display: block;
}

.box {
    margin-bottom: 15px;
}

#link-right {
    padding: 5px;
    margin: 5px 10px 10px;
    width: 94%;
}

#div-website {
    width: 100%;
    border: 1px solid #cdcdcd;
    margin-top: 5px;
    clear: both;
}

#link-footer {
    padding: 0px;
    margin-left: 5px;
}

#link-footer li {
    display: inline-block;
    height: 20px;
    list-style: outside none none;
    margin-right: 10px;
    overflow: hidden;
    width: 180px;
}

#link-footer li a:hover {
    color: #0788d9;
    text-decoration: none;
}

.website-unit {
    padding: 5px;
    background: #727BDE;
    font-weight: bold;
    color: #fff;
}

.commentTitle {
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    margin-top: 25px;
    padding-bottom: 10px;
    width: 630px;

}

.commentTitle h3 {
    font-weight: bold;
}

.comment-form {
    margin: 0 auto 30px;
    overflow: hidden;
    width: 600px
}

.comment-form .box-btn {
    float: left;
    margin-left: 120px;
}

.comment-form .in-txt {
    border: 1px solid #d7d7d7;
    padding: 5px 10px;
    width: 350px !important;
}

div.atc .cover {
    height: 110px;
    margin-bottom: 8px;
    width: 100%;
}

div.atc .cover {
    background-position: 50% top;
    background-repeat: no-repeat;
    background-size: cover !important;
    cursor: pointer;
    float: left;
    overflow: hidden;
}

.cover {
    background-position: 50% top;
    background-repeat: no-repeat;
    background-size: cover !important;
    cursor: pointer;
    float: left;
    height: 66px;
    margin-right: 8px;
    overflow: hidden;
    width: 100px;
}

div.atc div.hed h1 {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}

div.atc {
    margin-right: 1%;
    width: 24%;
    margin-bottom: 15px;
    margin-top: 10px;
}

div.atc {
    color: #000;
    float: left;
    position: relative;
    z-index: 1;
}

div.atc, .aside, details, figcaption, figure, div.footer, div.hed, .hgroup, menu, div.nav {
    display: block;
}

.box {
    margin-bottom: 15px;
}

.child-cat {
    font-weight: normal;
    padding-right: 10px;
}

.news-thumb {
    width: 100px;
}

.ul-child {
    list-style: none;
    margin: 0px;
}

.ul-child li {
    display: inline-block !important;
    border-right: 1px solid #cdcdcd;
    /*height: 20px;*/
    /*margin-top: 5px;*/
}

.ul-child li:last-child {
    border-right: none;
}

.ul-child li a {
    line-height: 20px;
    font-size: 1em;
    padding: 5px 10px;
}

/* tin tieu diem */

#multimedia {
    border-top: 5px solid #3398cc;
    float: left;
    margin: 8px 0 5px;
    width: 100%;
}

#multimedia > div.hed {
    margin-bottom: 0;
}

div.hed {
    width: 100%;
}

#multimedia > div.hed h1 {
    background: #fff none repeat scroll 0 0;
    color: #3398cc;
    display: inline;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    left: 10px;
    padding: 0 12px;
    position: relative;
    text-transform: uppercase;
    top: -11px;
}

#multimedia div.atc {
    border-bottom: 0 none;
    float: left;
    margin-right: 1.25%;
    padding-bottom: 0;
    width: 19%;
}

#multimedia div.atc:last-child {
    width: 19%;
    margin-right: 0% !important;
}

.footer .copyright {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 0;
    padding: 5px 0 15px;
    width: 100%;
    padding-left: 10px;
}

.footer .copyright .ilog {
    float: left;
    font-size: 0.9em;
    width: 65%;
    text-align: left;

}

.hide-on-small {
    padding: 0px;
}

/*CSS tin moi*/
div.sct.featured {
    border-bottom: 0 none;
    float: left;
    margin: 0;
    width: 470px;
}

div.sct.featured div.atc.featured {
    margin-bottom: 8px;
    padding-bottom: 6px;
    width: 100%;
}

#homepage.focus_layout div.sct.featured div.atc.featured .cover {
    float: none;
    height: 313px;
    margin-bottom: 4px;
    width: 470px;
}

div.sct.featured div.atc.featured div.hed {
    display: block;
    max-height: none;
}

div.sct.featured div.atc div.hed {
    overflow: hidden;
}

div.hed {
    width: 100%;
}

#homepage.focus_layout div.sct.featured div.atc.featured div.hed h1 {
    font-size: 1.6em;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

div.sct.featured div.atc.featured div.hed h1 {
    font-size: 18px;
    height: auto;
    letter-spacing: -1px;
    line-height: 22px;
    margin-bottom: 4px;
    margin-top: 0;
}

div.sct.featured div.atc.featured div.hed h1 a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #3398cc;
    padding: 0;
    text-indent: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.4;
    text-transform: uppercase;
}

div.sct.featured div.atc {
    margin-bottom: 10px;
    margin-right: 2%;
    width: 32%;
}

div.atc {
    color: #000;
    float: left;
    position: relative;
    width: 100%;
    z-index: 1;
}

div.sct.featured div.atc div.hed h1 {
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
}

div.sct.featured div.atc div.hed h1 a {
    color: #444;
    display: block;
    overflow: hidden;
}

.box-scroll {
    height: 430px !important;
}

.box-hot-news .item-lastest-news {
    padding-left: 0px !important;
    margin-left: 10px !important;
}

div.sct.featured {
    margin-top: -10px !important;
}

/*chi tiet bai viet */
.content-wrap {
    float: left;
    /*position: relative;*/
    width: 664px;
    z-index: -1;
}

#content {
    float: left;
    font-size: 14px;
    line-height: 18px;
    padding: 0;
    /*position: relative;*/
    width: 660px;
    z-index: 9;
}

.child-cat {
    font-weight: normal;
    padding-right: 10px;
    font-family: "Roboto Condensed",sans-serif;
}

.span-news {
    display: block;
    line-height: 30px;
}

.top-button {
    float: right;
}

.top-button li {
    float: left;
    padding-right: 5px;
}

.bxpanel {
    float: right;
    margin: -35px 0 0;
}

.box-notic .date-time {
    float: none;
    padding-top: 10px;
    margin-right: 160px;
    text-align: right;
    font: 400 11px/20px arial;
}

.box-mequ {
    margin-top: 6px;
}

.box-notic .btn-hot {
    margin-top: 7px;
}

.box-article-more a, .news-more a, .more-video a {
    background: none;
}

.adv-body {
    margin-bottom: 10px;
}

#right1 {
    padding-top: 0px;
}

#right1 > div:first-child {
    margin-top: 0;
}

.sidebar div.sct.pictures {
    border: 0 none;
    height: 240px;
    overflow: hidden;
    position: relative;
}

.sidebar div.sct.pictures > div.hed {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-top: 3px solid #3398cc;
}

.sidebar div.sct > div.hed {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 2px 0 #fcfafa;
    height: auto;
    margin-bottom: 0;
    padding: 5px 10px 0;
}

div.hed {
    width: 100%;
}

.sidebar div.sct > div.hed h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.4;
    margin: 0 0 8px;
    text-transform: uppercase;
}

.sidebar div.sct.pictures > div.hed h1 a {
    color: #3398cc;
}

#dslide {
    height: 200px;
    position: relative;
    width: 300px;
}

.sidebar div.sct.pictures .slidebox {
    z-index: 1;
}

#dslide .next {
    background-position: -12px 0;
    right: 5px;
}

#dslide .next, #dslide .prev {
    background-image: url("img/slideshow.png");
    display: block;
    height: 23px;
    position: absolute;
    text-indent: -99999em;
    top: 90px;
    width: 12px;
    z-index: 2;
}

.oad img {
    margin-bottom: 0px;
    margin-top: 5px;
}

.sidebar .contact {
    float: left;
    width: 340px;
    margin-left: -40px;
}

.sidebar .contact li.email {
    border-bottom: 1px solid #fff;
}

.sidebar .contact li {
    background: #f1f1f1 none repeat scroll 0 0;
    color: #ccc;
    float: left;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1em;
    line-height: 30px;
    margin: 0 1% 0 0;
    width: 100%;
}

.sidebar {
    float: right;
    position: relative;
    width: 300px;
}

.sidebar .contact li span {
    background: #f79400 url("/img/icons.png") no-repeat scroll -9999px -9999px;
    display: block;
    float: left;
    height: 30px;
    margin: 0 8px 0 0;
    overflow: hidden;
    text-indent: -999px;
    width: 30px;
}

.sidebar .contact li.email span {
    background-position: -54px -1113px;
}

.sidebar .contact li.phone span {
    background-position: -54px -1052px;
}

.contact ul {
    list-style: outside none none;
    margin-top: 1px;
}

.main {
    margin-top: 5px;
}

#dslide b {
    background-color: #333;
    bottom: 0;
    color: #fff;
    display: block;
    font-weight: bold;
    left: 0;
    padding: 3px;
    text-align: center;
    width: 100%;
}

#dslide b span {
    display: block;
    height: 38px;
    line-height: 18px;
    overflow: hidden;
}

#dslide img {
    margin: 0 0 -2px;
}

#dfooter {
    background: #eee none repeat scroll 0 0;
    border-top: 1px solid #ddd;
    padding-top: 8px;
    width: 100%;
    margin-top: 10px;
}

.footer {
    color: #333;
    margin: 2px auto;
    width: 980px;
}

.back-to-top {
    background: rgba(0, 0, 0, 0) url("/img/icon_gototop.png") no-repeat scroll 0 0;
    bottom: 55px;
    display: block;
    height: 36px;
    position: fixed;
    right: 15px;
    width: 36px;
    z-index: 99999999;
}

/*chi tiet tin tuc*/
.btip {
    margin: 3px 0 10px;
}

.news-detail .cate {
    color: #555;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.1em;
    margin-right: 1px;
    text-transform: uppercase;
    display: inline;
}

.stime {
    border-left: 1px solid #ddd;
    padding-left: 4px;
    text-transform: uppercase;
}

.news-detail .title-article {
    font-size: 23px;
    line-height: 25px;
}

.cover-detail {
    width: 100%;
    clear: both;
    text-align: justify;
}

/*box tin xem nhieu*/
.mostview-head {
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    margin-bottom: 0;
    padding: 0;
}

.detail-body {
    float: left;
    width: 460px;
}

.detail-mostview {
    float: left;
    width: 160px;
    padding-left: 20px;
}

.detail-mostview .cover {
    background-position: 50% top;
    background-repeat: no-repeat;
    background-size: cover !important;
    cursor: pointer;
    float: left;
    overflow: hidden;
}

.detail-mostview .cover {
    height: 70px !important;
    margin-right: 3px !important;
    width: 50% !important;
}

.detail-mostview div.hed {
    height: auto;
    max-height: 80px;
    overflow: hidden;
    width: 76px;
}

.detail-mostview div.hed h1 {
    text-align: left;
}

.detail-mostview div.atc {
    border-bottom: 1px solid #f7f7f7;
    float: left;
    margin-bottom: 0;
    padding: 5px 0;
    margin-right: 3px !important;
}

.h1-mostview {
    margin: 5px 0px !important;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 5px;
    padding-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

/*tin da dua*/

div.sct.recommendation {
    background: #fcfcfc none repeat scroll 0 0;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    float: left;
    margin: 20px 0;
    padding: 0 0 20px;
    width: 100%;
}

div.sct.recommendation > div.hed {
    float: left;
    text-align: center;
    width: 100%;
    margin-top: -10px;
    height: 30px;
}

div.sct.recommendation > div.atc {
    margin-right: 1%;
    width: 24%;
}

.recommendation div.atc .cover {
    background-position: 50% top;
    background-repeat: no-repeat;
    background-size: cover !important;
    cursor: pointer;
    float: left;
    overflow: hidden;
}

div.sct.recommendation > div.hed h1 {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.2em;
    font-weight: normal !important;
    padding: 8px 0;
    position: relative;
    text-transform: uppercase;
    top: -16px;
    width: 180px;
}

.col-right div.sct.topic {
    border-top: 3px solid #3398cc;
}

.col-right > div.sct {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fdfdfd none repeat scroll 0 0;
    border-color: #888 #ccc #ccc;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 0 #fcfafa;
    float: left;
    margin: 0 0 10px;
    width: auto;
}

.col-right div.sct.topic > div.hed {
    margin-bottom: 0;
    padding-top: 8px;
}

.col-right div.sct > div.hed {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 2px 0 #fcfafa;
    height: auto;
    margin-bottom: 0;
    padding: 5px 10px 0;
}

.col-right div.sct > div.hed h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.4;
    margin: 0 0 8px;
    text-transform: uppercase;
}

.col-right div.sct.topic > div.hed h1 a {
    color: #3398cc;
}

.col-right div.sct.topic div.atc {
    border: 0 none;
}

.col-right div.sct div.atc {
    border-bottom: 1px dashed #f1f1f1;
    float: left;
    margin-bottom: 0;
    padding: 8px 3px;
}

.col-right .box-doc-nhieu div.atc {
    border-bottom: 1px solid #f1f1f1;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.box-doc-nhieu div.atc {
    border-bottom: 1px solid #f1f1f1;
    float: left;
    margin: 0;
    overflow: hidden;
    padding: 8px 10px;
    position: relative;
}

div.atc {
    color: #000;
    float: left;
    position: relative;
    width: 100%;
    z-index: 1;
}

.col-right .box-doc-nhieu div.atc .order {
    background: rgba(0, 0, 0, 0) url("/img/order-bg.png") no-repeat scroll 0 0;
    border-radius: 50%;
    color: #3398cc;
    display: block;
    float: left;
    font-size: 17px;
    height: 25px;
    line-height: 25px;
    margin-right: 8px;
    position: relative;
    text-align: center;
    width: 25px;
}

.col-right div.hed {
    width: auto;
}

.col-right div.atc header {
    float: none;
    height: auto;
    padding: 3px 0;
}

.col-right div.atc header h1 {
    float: none;
    font-weight: bold;
    height: auto;
    line-height: 16px;
    max-height: 32px;
    overflow: hidden;
    margin-top: -2px;
}

div.atc a {
    color: #000;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.col-right div.atc header time {
    color: #ccc;
    display: block;
    font-size: 11px;
    margin-left: 30px;
    margin-top: -10px;
}

a {
    background: transparent none repeat scroll 0 0;
    color: #333;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
}

.news-detail .cate a:hover {
    color: #0099cc;
}

.col-right .more-video a {
    font-size: 14px;
    font-family: "Roboto Condensed", sans-serif;
}

.header {
    padding-bottom: 5px;
}

.news-more {
    height: 280px;
}

.box-news .news-more li {
    border-bottom: dotted 1px #ccc;
}

.box-news .news-more a {
    padding-left: 0px;
    line-height: 22px;
}

.item-lastest-news h3.title, .col-right .box-mod h3.title {
    color: #3398cc;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    padding: 5px 10px 0;
    border-top: 3px solid #3398cc;
    height: 30px;
}

.slide {
    margin-bottom: 0px;
}

.box .download {
    text-align: center;
    height: 40px;
}

.box .download img {
    margin-bottom: -10px;
    height: 35px;
}

.box .download span {
    color: #3398cc;
    font-size: 18px;
    text-decoration: underline;
    font-family: "Roboto Condensed", sans-serif;
}

#bttop {
    /*border: 1px solid #4adcff;*/
    /*background: #24bde2;*/
    /*text-align: center;*/
    /*padding: 5px;*/
    /*position: fixed;*/
    /*bottom: 35px;*/
    /*right: 10px;*/
    /*cursor: pointer;*/
    /*display: none;*/
    /*color: #fff;*/
    /*font-size: 11px;*/
    /*font-weight: 900;*/
    background: rgba(0, 0, 0, 0) url("/img/icon_gototop.png") no-repeat scroll 0 0;
    bottom: 55px;
    display: block;
    height: 36px;
    position: fixed;
    right: 15px;
    width: 36px;
    z-index: 99999999;
}

#bttop:hover {
    cursor: pointer;
}
.bx-news{
     margin: 0!important;
 }
.bx-news li{
    margin-left: -50px;
}
.bx-news li span{
    font-size: 1.1em !important;
    padding: 10px 10px 10px 20px !important;
}
#dslide .bx-viewport{
    height: 200px !important;
}
#dslide .bx-wrapper .bx-caption{
    bottom: -2px !important;
}
#dslide .bx-wrapper .bx-controls-direction a{
    margin-top: -65px !important;
}

.container{
    min-width: 975px !important;
}
.col-right{
    width: 305px !important;
}
.col-main{
    min-height: 500px;
}
.ui-icon ui-icon-circle-triangle-w{
    text-indent: 2000px !important;
}
.txt-artice-intro {
    display: block;
    font-family: "Noticia Text",Times,serif;
    font-size: 1.3em;
    font-weight: normal;
    line-height: 28px;
    font-style: italic;
    margin-bottom: 18px;
    text-align: justify;
}
.detail-body, .detail-body > p, .detail-body > p > span {
    font-family: "Noticia Text";
    line-height: 1.6;
    font-size: 1.1em !important;
}

.cover-detail .pAuthor {
    clear: both;
    font-family: "Noticia Text";
    font-size: 1.1em;
    font-weight: bold;
    margin: 8px 0;
    text-align: right;
}

#multimedia .bx-wrapper .bx-controls-direction a{
    top: 38%;
}
#multimedia .bx-wrapper .bx-prev{
    left: -45px;
}
#multimedia .bx-wrapper .bx-next{
    right: -45px;
}
.focus-news{
    margin: 5px 0px;
}
#multimedia .bx-viewport,#multimedia .bx-wrapper{
    height: 170px !important;
}
.pagination{
    clear: both;
}